

<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                  <h1>Add Task</h1>
                    <hr class="intro-divider">
                    <form action="/tasks" method="post">
                      <p>Enter a new task:</p>
                      <input type='text' name='task[title]'/><br/>
                      <br>
                      <p> Description:</p>
                      <textarea name='task[description]'></textarea><br/>
                      <br>
                      <input type='submit'/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
