<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                  <a href="/tasks"><h1>Tasks</h1></a>

                  <h2><%= @task.title %></h2>

                  <h4><%= @task.description %></h4>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>
