<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                  <a href="/tasks"><h2>Task Index</h2></a>

                  <h1><%= @task.title %></h1>

                  <p><%= @task.description %></p>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>
